<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Haru_customer2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListBL_customer</display-name>
    <servlet-name>ListBL_customer</servlet-name>
    <servlet-class>kokyaku.ListBL_customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBL_customer</servlet-name>
    <url-pattern>/ListBL_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCommitBL_customer</display-name>
    <servlet-name>EditCommitBL_customer</servlet-name>
    <servlet-class>kokyaku.EditCommitBL_customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCommitBL_customer</servlet-name>
    <url-pattern>/EditCommitBL_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBL_customer</display-name>
    <servlet-name>EditBL_customer</servlet-name>
    <servlet-class>kokyaku.EditBL_customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBL_customer</servlet-name>
    <url-pattern>/EditBL_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommitBL_customer</display-name>
    <servlet-name>AddCommitBL_customer</servlet-name>
    <servlet-class>kokyaku.AddCommitBL_customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommitBL_customer</servlet-name>
    <url-pattern>/AddCommitBL_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBL_customer</display-name>
    <servlet-name>AddBL_customer</servlet-name>
    <servlet-class>kokyaku.AddBL_customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBL_customer</servlet-name>
    <url-pattern>/AddBL_customer</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>kokyaku.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/Filter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>filter</display-name>
    <filter-name>filter</filter-name>
    <filter-class>kokyaku.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/Filter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>